<div class="w-full h-30 bg-gray-900 ">
    <nav class="container flex flex-wrap items-center justify-between py-3 mx-auto lg:px-0">
        <!-- Logo etc -->
        <div class="flex items-center">
            <a href="/">
                <img src="/static/img/ISKSNAP.jpg" alt="Logo" class="h-10 lg:h-28 w-auto" /> <!-- Adjust height as needed -->
            </a>
        </div>

        <!-- Toggle button (hidden on large screens) -->
        <button type="button" class="block px-2 ml-auto text-white lg:hidden focus:outline-none" aria-label="Menu">
            <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
            </svg>
        </button>

        <!-- Menu -->
        <div class="hidden lg:flex lg:items-center lg:w-auto">
            {% if navigation.items %}
                <ul class="flex items-center justify-end list-reset">
                    {% for item in navigation.items %}
                        <li class="ml-3">
                            <a class="font-black text-lg uppercase border-b-4 tracking-wide hover:text-yellow-50 hover:border-yellow-50 focus:text-yellow-50 focus:border-yellow-50 {{ 'border-yellow-50 text-yellow-50' if path == item.text else 'text-white border-transparent' }}" href="{{ item.url }}">
                                {{ item.text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </nav>
</div>
