<div class="splide">
  <div class="splide__track" data-glide-el="track">
    <ul class="splide__list">
      <li class="splide__slide">
          <div class="w-3/4 h-1 center-container">
            <h2 class="pt-30 text-lg font-extrabold text-center text-yellow-200 uppercase lg:pt-20 lg:text-6xl md:text-xl offset-underline">SNAP</h2>

            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="w-3/4 pt-4 pb-12 font-serif text-sm leading-tight text-center text-white md:text-base md:pt-4 lg:pt-4 lg:w-1/2 md:text-large" style="margin: 0 auto;">
              This website was built to coordinate volunteer activities for a non-profit organization dedicated to making a positive impact in the community. Our platform serves as a central hub where volunteers can find opportunities to contribute to various causes and projects that align with their interests and skills.
            
              Whether you are passionate about environmental conservation, education, health and wellness, or community development, there are numerous ways for you to get involved. Our user-friendly interface makes it easy to browse available volunteer opportunities, sign up for events, and track your volunteer hours and accomplishments.
            
              We believe that volunteers are the backbone of any successful non-profit initiative. By joining our community of dedicated volunteers, you can make a meaningful difference, connect with like-minded individuals, and gain valuable experiences.
            
              Our platform also provides tools for effective communication and coordination, ensuring that volunteers are well-informed and prepared for their roles. You will receive notifications about new opportunities, schedule changes, and important updates, making it easy to stay engaged and involved.
            
              We welcome you to explore the opportunities available and join us in our mission to create a better, more inclusive community. Your time, skills, and enthusiasm can help us achieve our goals and make a lasting impact. Thank you for considering volunteering with us and being a part of something greater.
            <br>
            <br>
          
            </p>
            
           
          </div>
          <video width="100%" height="120px" autoplay="autoplay" muted loop>
            <source src="/static/img/SNAP.mp4" type="video/mp4" />
          </video>
          <!-- <div style="
              background: url(/static/img/winter-san-gabriels.webm);
              height: 366px;
              background-repeat: repeat;"></div> -->
      </li>
    </ul>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
<script>
  new Splide( '.splide' ).mount()
</script>
